<?xml version="1.0"?>
<config>
    <modules>
        <Aureatelabs_Cancelorder>
            <version>0.1.0</version>
        </Aureatelabs_Cancelorder>
    </modules>
    <global>
		<models>
			<sales>
				<rewrite>
                	<order>Aureatelabs_Cancelorder_Model_Sales_Order</order>
				</rewrite>
            </sales>
		</models>
    </global>
</config>