<?xml version="1.0"?>
<config>
    <tabs>
        <aureatelabs translate="label">
            <label>Aureatelabs Extensions</label>
            <sort_order>200</sort_order>
        </aureatelabs>
    </tabs>
    <sections>
        <brands translate="label">
            <label>Brands</label>
            <tab>aureatelabs</tab>
            <frontend_type>text</frontend_type>
            <sort_order>300</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <product_view_enabled translate="label">
                            <label>Show Brand on Product Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_view_enabled>
                        <attr_id translate="label">
                            <label>Brand Attribute Code</label>
                            <comment>
								<![CDATA[Text string with no spaces. Search for that code in Catalog -> Attributes -> Manage Attributes]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </attr_id>
                        <image_extension translate="label">
                            <label>Brand Image File Extension</label>
                            <comment>Without the leading dot.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image_extension>
                        <link_search_enabled translate="label">
                            <label>Brand Logo is a Link to Search Results</label>
                            <comment>
								<![CDATA[E.g. Microsoft logo will be a link to <strong>catalogsearch/result/?q=microsoft</strong>]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </link_search_enabled>
                        <page_base_path translate="label">
                            <label>Base Path to Brand's Pages</label>
                            <comment>
								<![CDATA[Path is relative to the store root. No leading or trailing slashes. To use this path disable <strong>Brand Logo is a Link to Search Results</strong> option. For more details please refer to extension manual.]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </page_base_path>
                    </fields>
                </general>
            </groups>
        </brands>
    </sections>
</config> 